<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sabor y Noche - Editar Empresa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-custom {
            max-width: 600px;
            background-color: #f5f5dc; /* Fondo beige */
            margin: auto;
            margin-top: 50px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: relative;
        }
        .close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            font-size: 20px;
            color: red;
            z-index: 9999;
            font-size: 30px;
        }
        .close-button:hover {
            transform: scale(1.6);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/empresarios">Sabor y Noche</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/empresarios">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" href="/adminEmpresa">Panel de Administración</a></li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/perfilEmpresario}">Datos Personales</a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="card card-custom">
        <div class="card-body">
            <h1 class="text-center mb-4">Editar Empresa</h1>
            <span class="close-button" onclick="redirectToPreviousPage()">&times;</span>
            <form th:action="@{/adminEmpresa/nuevaEmpresa}" th:object="${empresa}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
                    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" id="descripcion" th:field="*{descripcion}"></textarea>
                    <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" th:field="*{direccion}">
                    <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="provincia">Provincia</label>
                    <input type="text" class="form-control" id="provincia" th:field="*{provincia}">
                    <span th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="comunidad">Comunidad</label>
                    <input type="text" class="form-control" id="comunidad" th:field="*{comunidad}">
                    <span th:if="${#fields.hasErrors('comunidad')}" th:errors="*{comunidad}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="poblacion">Población</label>
                    <input type="text" class="form-control" id="poblacion" th:field="*{poblacion}">
                    <span th:if="${#fields.hasErrors('poblacion')}" th:errors="*{poblacion}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="codigoPostal">Código Postal</label>
                    <input type="text" class="form-control" id="codigoPostal" th:field="*{codigoPostal}">
                    <span th:if="${#fields.hasErrors('codigoPostal')}" th:errors="*{codigoPostal}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">Categorías</label>
                    <div th:each="categoria : ${categorias}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:field="*{categorias}" th:value="${categoria.id}" th:id="${'categoria_' + categoria.id}" th:checked="${empresa.categorias.contains(categoria)}">
                            <label class="form-check-label" th:for="${'categoria_' + categoria.id}" th:text="${categoria.nombre}"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tipoEstablecimiento">Tipo de Establecimiento</label>
                    <select class="form-control" id="tipoEstablecimiento" th:field="*{tipoEstablecimiento}">
                        <option th:each="tipoEstablecimiento : ${tiposEstablecimiento}" th:value="${tipoEstablecimiento.id}" th:text="${tipoEstablecimiento.nombre}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('tipoEstablecimiento')}" th:errors="*{tipoEstablecimiento}" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="urlImagen">Imagen</label>
                    <input type="file" class="form-control" id="urlImagen" th:field="*{urlImagen}">
                    <span th:if="${#fields.hasErrors('urlImagen')}" th:errors="*{urlImagen}" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
<script>
    function redirectToPreviousPage() {
        window.history.back();
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
